/* Reset default styles for all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Navigation bar styles */
header nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Unordered list styles */
header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

/* List item styles */
header nav ul li {
    color: white;
    padding: 15px 20px;
}

/* Hover effect for list items */
header nav ul li:hover {
    background-color: cyan;
    color: black;
    border-radius: 5px 15px;
    cursor: pointer;
}

/* Logo styles */
.logo {
    margin: 5px 25px;
}

/* Logo image styles */
.logo img {
    width: 35px;
    border-radius: 30px;
}

/* Search input styles */
#search {
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
}
