* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url('./photo-1516724562728-afc824a36e84.avif');
    background-position: center ;
}

.logo h2 {
    color: white;
    font-weight: 550;
}

nav .menu ul li {
    color: white;
    font-weight: 530;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:10px 50px;
    background-color: rgb(27, 27, 27);
}

nav .menu ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 38px;
}