/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(240, 111, 133);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbox {
    width: 30%;
    height: 50px;
    border-radius: 30px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    position: relative;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.searchbox input[type="text"] {
    border: none;
    font-size: 18px;
    background: none;
    font-weight: 500;
    position: absolute;
    height: 100%;
    outline: none;
}

.searchbox i {
    background-color: rgb(255, 113, 137);
    position: absolute;
    right: 0;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    height: 100%;
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center ;
    border-radius: 0px 30px 30px 0px;
} */




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}